

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Clicker+Script&family=Manrope:wght@200..800&family=Oxanium:wght@200..800&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --skin-color: #ec1839;
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}
.kk{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;

     line-height: 1.5;
    font-size: 16px;
}
.dark{
    --bg-black-900: #ffffff;
    --bg-black-100: #e9e9e9;
    --bg-black-50: #393939; 
     --text-black-900: #151515;
    --text-black-700: #222222; 
}
body{
    
    line-height: 1.5;
    font-size: 16px;


     --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9; 
    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
}
::before,::after{
    box-sizing: border-box;
}

/* p{
    color: #302e4d;
    font-size: 30px;
    margin: 100px;
    font-weight: 700;
} */
ul{
    list-style: none;
}

/* section */
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    z-index: 0;
    opacity: 1;
}

.hidden
{
    display: none !important;
}

.main-content
{
 padding-left: 310px;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.container
{
    max-width: 1100px;
    width: 100vh;
    margin: auto;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{
    font-size: 18px;
    font-weight: 500px;
    padding: 15px 40px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border:none ;
    background-color: var(--skin-color);
    transition: all 0.2s ease;
}
.btn:hover{
    transform: scale(1.10);
}
.box
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside */
.aside
{
   padding: 30px;
   width: 250px;
   background: var(--bg-black-100);
   border-right: 2px solid var(--bg-black-50);
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   left: 0;
   top: 0;
   height: 100%;
   z-index: 10; 
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a
{
    font-family: "Archivo";
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.logo-ling{
    font-family: "Archivo", sans-serif; 
}
.loge-font
{
    font-family: "Archivo", sans-serif;
   font-size: 40px;
}

.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}



.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 400px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}
.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.nav-toggler span::before
{
 content: '';
 height: 2px;
 width: 18px;
 background-color: var(--skin-color);
 position: absolute;
 top: -6px;
 left: 0;
}


.nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
   }
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li {
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.nav li a i
{
    margin-right: 15px;
}
/* home */
.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home-info
{
    flex: 0 0 60%;
    max-width: 57%;
}
 .home-img{
    margin-top: px;
    flex: 0 0 27%;
    max-width: 27%;
    text-align: center;
    position: relative;
} 


/* image */

.box1{
    position: relative;
    width: 350px;
    height: 350px;
    /* background: rgba(0,0,0,0.5); */
    border-radius: 50%;
    overflow: hidden;
}

.box1::before{
    content: '';
    position: absolute;
    inset: -10px 100px;
    background: linear-gradient(360deg, #00ccff,#d400d4);
    transition: .5s;
    animation: animate 2s linear infinite;
}
/* 
.box:hover::before{
    inset: -20px 0px;
} */
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box1::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #151515;
    border-radius: 50%;
    z-index: 1;
}

.content{
    position: absolute;
    inset: 30px;
    border: px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
}

.hello
{
    font-size: 28px;
}
.name
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--skin-color);
}
.my-profession
{
    font-size: 28px;
    margin: 10px 0;
}
.typing
{
    color: var(--skin-color);
}
.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
font-size: 24px;
margin-bottom: 15px;
font-weight: 700;
color: var(--text-black-900);
}

.about .about-content .about-text h3 span
{
 color: var(--skin-color);
}

.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    max-width: 900px;
    color: var(--text-black-700);
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 40%;
    max-width: 40%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 2px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;  
}
.mm
{
    margin-right: 20px;
}
.button
{
    margin-top: 25px;
}
.buttun .btn
{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills-item
{
    flex: 0 0 70%;
    max-width: 70%;
}
.about .about-content .skills-item h3
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skills-item .progress
{
    height: 7px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--bg-black-50);
    position: relative;
}
.about .about-content .skills .skills-item
{
    margin-bottom: 30px;
}
.about .about-content .skills .skills-item .progress .progress-in
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skills-item .skill-percent
{
  position: absolute;
  right: 0;
  top: -40px;
  color: var(--text-black-900);
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: 30px;
}
.about .about-content .title
{
  font-size: 24px;
  margin-top: 30px;
  font-weight: 700;
  color: var(--text-black-900); 
}

.timeline-box{
    flex: 0 0 95%;
    max-width: 95%;
}
.timeline
{
background-color: var(--bg-black-100);
padding: 30px 15px;
border: 1px solid var(--bg-black-50);
border-radius: 10px;
width: 95%;
position: relative;
}

.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 30px;
    padding-bottom: 40px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-title
{
   font-weight: 700;
   font-size: 18px;
   color: var(--skin-color);
   margin-bottom: 10px;
   text-transform: capitalize;

}
.about .about-content .timeline .timeline-fa
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* service */
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 30%;
    max-width: 30%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 2px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner h4 
{
    color: var(--text-black-900);
    margin: 7px 0;
}

.service .service-item .service-item-inner p 
{
    color: var(--text-black-900);
    
}
 .service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    
    margin-left: 95px;
    text-align: center;
    transition: all 0.3s ease;
} 
.service .service-item .service-item-inner .icon i
{
    font-size: 60px;
}

.service .service-item .service-item-inner .icon img
{
    width: 60px;
    height: 60px;
}


/* portfolio*/
.portfolio .portfolio-content
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
 flex: 0 0 100%;
 max-width: 100%;
 margin-bottom: 80px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.img-project
{
    width: 280px;
    height: 170px;
    border-radius: 10px;
}
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}


.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px; 
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 21%;
    max-width: 21%;
    text-align: center;
    margin-bottom: 80PX;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa
{
    font-size: 29px;
    color: var(--skin-color);
}
.contact .contact-info-item h4 
{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 19px 0;

}


.contact .contact-info-item p 
{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 19px 0;

}

.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6
{
    flex: 0 0 46%;
    max-width: 46%;
} 

.contact .contact-form .col-12
{
    flex: 0 0 95%;
    max-width: 95%;
} 

.contact .contact-form .col-6
{
    flex: 0 0 42%;
    max-width: 42%;
} 
.contact .contact-form .form-item
{
    margin-bottom: 30px;
} 
.contact .contact-form .form-item .form-control
{
    width: 95%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-black-100);
    border: 2px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 18px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
    
}
.mum{
    margin-left: 45px;
}

.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 150px;
   
}


/* media */


@media (max-width: 767px) {
    
  
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills
    .about .about-content .personal-info{
        flex: 0 0 80%;
        max-width: 80%;
    }

    .aside{
        left: -310px;
    }
    .main-content{
        padding-left: 0;
    }
    .home-img{
        display: none;
    }
    .row{
        display: block;
        
    }
    .home-info{
        width: 600px;
        margin-left: 70px;
        
    }

    
.about .about-content .about-text h3
    {
      font-size: 18px;
    }
    .about-text p{
        width: 400px;
        text-align: justify;
        font-size: 16px;
    }
    .container
    {
        max-width: 450px;
        width: 100vh;
        margin: auto;
        margin-left: 20px;
    }
    .about{
        margin-left: 30px;
    }
    .personal-info{
        margin-left: 35px;
    }
    .btn-row{
        width: 350px;
        margin-left: 0;
    }
    .mm{
        padding: 8px 26px;
        font-size: 17px;
    }
    
    .hire-me{
        padding: 8px 26px;
        font-size: 17px;
    }
    .skills-item{
        margin-left: 35px;
    }
    .service-item-inner{
        width: 260px;
        margin-left: 70px;
    }
    .portfolio-heading{
        margin-left: 30px;
    }
    .portfolio-item{
        margin-left: 90px;
    }
    .contact-info-item{
        margin-left: 35px;
    }
    .mum{
        margin-left: 0;
    }
    .col-12{
        width: 387px;
    }
    .skills{
        margin-top: 70px;
    }
   .toggle-mm{
    display: block;
   }
  
  
}

.toggle-mm{
    display: none;
}

.close{
    border: 2px solid var(--bg-black-100);
    padding: 20px 30px;
    text-align: center;
    line-height: 25px;
    display: none;
    
}
.fa-bars{
    font-size: 30px;
    margin-left: 50px;
    
}
.toggle-div{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* switcher */



.style-switcher{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

 .open{
    
    transform: translateX(-25px);
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    transition:  all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler{
    top: 0;
}
.style-switcher .day-night{
    top: 50px;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-size: 16px;
    text-transform: capitalize;
}
.style-switcher .colors{
 display: inline-block;
 flex-wrap: wrap;
 justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.style-switcher .color-1{
 background: #ec1839;
}
.style-switcher .color-2{
   background: #fa5b0f;  
}
.style-switcher .color-3{
  background: #37b182;  
}
.style-switcher .color-4{
   background: #1854b4;  
}
.style-switcher .color-5{
   background: #f021b2; 
}
    
 




